
.xlogo-img{
    height: 21px;
    width: auto;
    margin-top: 5px;
}
.handshake-img{
    width: 36px;
    height: 33px;
    margin-top: -3px;

}
.nfl-text{
    color: white;
}
.sportx-bet-text{
    color:#1348f5;
}
.wbtc-bitcoin-section{
    background-color:white;
    border:1px solid #F5F6FF;
    border-radius: 10px;
}

.uniswap-lower-section{
    background-color: white;
    margin-top: -7px;
    padding: 1rem;
    border: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.wbtc-bitcoin-head{
    font-size: 30px;
    font-weight: bold;
}
.wbtc-bitcoin-text{
    color: #7a7474;
    font-size: 14px;
    line-height: 23px;
}
.uniswap-icon-twitter{
    color: #AAAAAA !important;
    font-size: 1.5rem !important;
    margin: 0 5px;
}
.uniswap-discord-icon{
    width: 37px;
    opacity: 0.7;
    height: 21px;
}
.open-dapp-btn{
    background-color: #FFA00A;
    border: 1px solid #FFA00A;
    color: white;
    width: 142px;
    margin-top: 0.8rem;
    border-radius: 7px;
    height: 40px;
    font-weight: bold;
}
.counts-in-crrency{
    color:black;
    font-family: sans-serif;
}
.numbers-in-crrency{
    color: white;
    background-color: #AAAAAA;
    border: 1px solid #AAAAAA;
    padding: 1px 5px;
    border-radius: 6px;
    margin-right: 5px;
}
.rate-iamge1 {
    width: 100px;
    height: 62px;
    margin-left: 10px;
}
.rate-iamge{
    width: 71px;
}
.buy-uni-btn{
    border: 1px solid #F5F9FF;
    border-radius: 7px;
    padding: 10px 20px;
    color: #0C6FFF;
    font-weight: bold;
    margin-top: 1rem;
    width:100%
}